In [43]:
import pandas as pd
import numpy as np

In [3]:
cd ..

/Users/svenvanderburg/projects/capacity/ZIB-uploader

## Load excel file with mappings entered by humans from Maastro clinic
File can be found [on the Maastro teams](https://teams.microsoft.com/l/file/CADBAFA2-9EBA-4E19-B8E4-935EA2A7974B?tenantId=b9c5dd0d-b3a0-4572-a670-e4e8bd6c9350&fileType=xlsx&objectUrl=https%3A%2F%2Fmaastro.sharepoint.com%2Fsites%2FO365GroepCDSCARRIERProjectManagement%2FShared%20Documents%2FCAPACITY%2FCodes%20mapping%20(1).xlsx&baseUrl=https%3A%2F%2Fmaastro.sharepoint.com%2Fsites%2FO365GroepCDSCARRIERProjectManagement&serviceName=teams&threadId=19:373f883c850c4e9aa697817c3cc38676@thread.skype&groupId=257a7bbf-43a5-4906-ab8e-c4deb714fc6d) or [on their sharepoint](https://maastro.sharepoint.com/sites/O365GroepCDSCARRIERProjectManagement/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={CADBAFA2-9EBA-4E19-B8E4-935EA2A7974B}). Talk to Djura for access.

In [125]:
df = pd.read_excel('data/capacity-human-entered-mapping.xlsx', sheet_name='CAPACITY - required variables')

In [126]:
df.head(4)

,Variable/Field Name,Field Label,Fiel Attributes,Zib,Zib concept,Zib codesystem,EHR,Snomed,COD016-VEKT code,ICD-10,ATC
0,participant_identification_number_required,Participant Identification Number Pin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subjid,Participant Identification Number (PIN),text,Patient,PatientIdentificationNumber,NaN,pseudonym,NaN,NaN,NaN,NaN
2,studyid,STUDY ID,text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,participant_identification_number_pin_required...,Comple?,"0-Incomplete,1-Unverified,2-Complete",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleanup data

In [127]:
# Rename columns 
df.columns = ['capacity_field_name', 'capacity_field_description', 'capacity_field_attributes', 'zib', 'zib_concept', 'zib_codesystem', 'ehr', 'snomed', 'cod016_vekt_code', 'icd_10_code', 'atc']

In [128]:
df.head(6)

,capacity_field_name,capacity_field_description,capacity_field_attributes,zib,zib_concept,zib_codesystem,ehr,snomed,cod016_vekt_code,icd_10_code,atc
0,participant_identification_number_required,Participant Identification Number Pin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subjid,Participant Identification Number (PIN),text,Patient,PatientIdentificationNumber,NaN,pseudonym,NaN,NaN,NaN,NaN
2,studyid,STUDY ID,text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,participant_identification_number_pin_required...,Comple?,"0-Incomplete,1-Unverified,2-Complete",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,inclusion_criteria_required,Inclusion Criteria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,dsstdat,Date of Enrollment,text(date),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Explode `capacity_field_attributes` column

In [129]:
df['capacity_field_attributes'] = df['capacity_field_attributes'].str.split(r';|,')

In [130]:
df = df.explode('capacity_field_attributes')
df = df.reset_index(drop=True)

In [131]:
df.head(10)

,capacity_field_name,capacity_field_description,capacity_field_attributes,zib,zib_concept,zib_codesystem,ehr,snomed,cod016_vekt_code,icd_10_code,atc
0,participant_identification_number_required,Participant Identification Number Pin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subjid,Participant Identification Number (PIN),text,Patient,PatientIdentificationNumber,NaN,pseudonym,NaN,NaN,NaN,NaN
2,studyid,STUDY ID,text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,participant_identification_number_pin_required...,Comple?,0-Incomplete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,participant_identification_number_pin_required...,Comple?,1-Unverified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,participant_identification_number_pin_required...,Comple?,2-Complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,inclusion_criteria_required,Inclusion Criteria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,dsstdat,Date of Enrollment,text(date),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,sitename_nhr,Site name,NaN,HealthcareProvider,OrganizationName,NaN,NaN,NaN,NaN,NaN,NaN
9,country,Country,text (?),AddressInformation,Country,CountryGBACodelist or CountryISOCodelist,NaN,NaN,NaN,NaN,NaN

### Split `capacity_field_attributes` column into `capacity_field_choice_code` and `capacity_field_choice_description`

In [132]:
def _extract_choice(string, index):
    if pd.isna(string):
        return string
    splitted = string.split('-')
    if len(splitted) == 1:
        return np.nan
    return splitted[index]


def extract_choice_code(string):
    """
    i.e. extracts 3 from '3-something'
    """
    return _extract_choice(string, 0)


def extract_choice_description(string):
    """
    i.e. extracts something from '3-something'
    """
    return _extract_choice(string, 1)
    
df['capacity_field_choice_code'] = df['capacity_field_attributes'].apply(extract_choice_code)
df['capacity_field_choice_description'] = df['capacity_field_attributes'].apply(extract_choice_description)

In [133]:
df[['capacity_field_choice_code', 'capacity_field_choice_description', 'capacity_field_attributes']].head(20)

,capacity_field_choice_code,capacity_field_choice_description,capacity_field_attributes
0,NaN,NaN,NaN
1,NaN,NaN,text
2,NaN,NaN,text
3,0,Incomplete,0-Incomplete
4,1,Unverified,1-Unverified
5,2,Complete,2-Complete
6,NaN,NaN,NaN
7,NaN,NaN,text(date)
8,NaN,NaN,NaN
9,NaN,NaN,text (?)
10,1,yes,1-yes
11,0,no,0-no
12,1,yes,1-yes
13,2,no,2-no
14,3,unknown,3-unknown
15,1,yes,1-yes
16,2,no,2-no
17,3,unknown,3-unknown
18,1,yes,1-yes
19,2,no,2-no

In [134]:
df = df.drop(columns=['capacity_field_attributes'])

### Split `snomed` column

In [136]:
df[~pd.isna(df['snomed'])][['capacity_field_name', 'snomed', 'capacity_field_choice_code', 'capacity_field_choice_description']]

,capacity_field_name,snomed,capacity_field_choice_code,capacity_field_choice_description
44,healthwork_erterm,223366009 | Healthcare professional (occupation),1,yes
45,healthwork_erterm,223366009 | Healthcare professional (occupation),2,no
46,healthwork_erterm,223366009 | Healthcare professional (occupation),3,N/A
47,labwork_erterm,159138004 | Microbiologist (occupation),1,yes
48,labwork_erterm,159138004 | Microbiologist (occupation),2,no
...,...,...,...,...
430,carhist_valve,60573004 | Aortic valve stenosis (disorder) |6...,3,Mitral valve stenosis
431,carhist_valve,60573004 | Aortic valve stenosis (disorder) |6...,4,Mitral valve regurgitation
432,carhist_valve,60573004 | Aortic valve stenosis (disorder) |6...,5,Pulmonary valve regurgitation
433,carhist_valve,60573004 | Aortic valve stenosis (disorder) |6...,7,Tricuspid valve stenosis
434,carhist_valve,60573004 | Aortic valve stenosis (disorder) |6...,8,Tricuspid valve regurgitation

In [138]:
df.iloc[430]['snomed']

'60573004 | Aortic valve stenosis (disorder) |60234000 | Aortic valve regurgitation (disorder) |48724000 | Mitral valve regurgitation (disorder) |91434003 | Pulmonic valve regurgitation (disorder) 49915006 | Tricuspid valve stenosis (disorder) |111287006 | Tricuspid valve regurgitation (disorder) |'

In [178]:
def extract_snomed(group):
    splitted = group['snomed'].iloc[0].strip('|').split('|')        
    if len(splitted) == 2:
        snomed_codes = [splitted[0].strip()] * len(group)
        snomed_descriptions = [splitted[1].strip()] * len(group)
    else:
        snomed_codes = list()
        snomed_descriptions = list()
        for i, (_, row) in enumerate(group.iterrows()):
            try:
                snomed_code = splitted[i * 2] 
                snomed_description = splitted[i * 2 + 1]
            except IndexError:
                snomed_code = np.nan
                snomed_description = np.nan
            snomed_codes.append(snomed_code)
            snomed_descriptions.append(snomed_description)
    group['snomed_code'] = snomed_codes
    group['snomed_description'] = snomed_descriptions
    return group
#     return pd.DataFrame({'snomed_code': snomed_codes, 'snomed_description': snomed_descriptions})    
#     return snomed_codes, snomed_descriptions

df[~pd.isna(df['snomed'])].groupby('capacity_field_name').apply(extract_snomed)[['capacity_field_name', 'capacity_field_choice_description', 'snomed_description']]

,capacity_field_name,capacity_field_choice_description,snomed_description
44,healthwork_erterm,yes,Healthcare professional (occupation)
45,healthwork_erterm,no,Healthcare professional (occupation)
46,healthwork_erterm,N/A,Healthcare professional (occupation)
47,labwork_erterm,yes,Microbiologist (occupation)
48,labwork_erterm,no,Microbiologist (occupation)
...,...,...,...
430,carhist_valve,Mitral valve stenosis,Mitral valve regurgitation (disorder)
431,carhist_valve,Mitral valve regurgitation,Pulmonic valve regurgitation (disorder) 49915...
432,carhist_valve,Pulmonary valve regurgitation,111287006
433,carhist_valve,Tricuspid valve stenosis,NaN
434,carhist_valve,Tricuspid valve regurgitation,NaN

TODO:
* Fix cases where length of snomed field does not match number of choices